# Python cache files
*.pyc
__pycache__/

# Virtual environments
env/
venv/

# Django & project data
db.sqlite3
staticfiles/

# Environment variables
.env

# Fixtures
fixtures/*

# allow demo fixture
!fixtures/demo_data.json

# Media files
media/*

# allow media folders
!media/profiles/
!media/projects/
!media/resumes/

# allow demo media files
!media/profiles/john_alpaca_profile.png
!media/projects/event_scheduler.png
!media/projects/media_gallery.png
!media/projects/task_tracker.png
!media/resumes/john_alpaca_resume.pdf
